<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
    <context-param>
        <param-name>logger</param-name>
        <param-value>true</param-value>
    </context-param>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <listener>
        <listener-class>com.github.peacetrue.sample.servlet2.LoggerServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.peacetrue.sample.servlet2.LoggerServletContextAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.peacetrue.sample.servlet2.LoggerHttpSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.peacetrue.sample.servlet2.LoggerHttpSessionActivationListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.peacetrue.sample.servlet2.LoggerHttpSessionBindingListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.peacetrue.sample.servlet2.LoggerHttpSessionAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.peacetrue.sample.servlet2.LoggerServletRequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.peacetrue.sample.servlet2.LoggerServletRequestAttributeListener</listener-class>
    </listener>

    <filter>
        <filter-name>loggerFilter</filter-name>
        <filter-class>com.github.peacetrue.sample.servlet2.LoggerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loggerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>helloWorld</servlet-name>
        <servlet-class>com.github.peacetrue.sample.servlet2.LoggerHttpServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloWorld</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>


</web-app>
